/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page .theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --back-image: url('../images/cover-image-dark.png');
  --decoration-text-color: #000028;
  --accent-color: #ff0070;
  --title-color:  #db00ff;
  --button-color:var(--accent-color);
  --button-color-rgb: 255, 0, 112;
  --text-color: #F1B2CE;
}

.page.theme_dark .rec {
  color: var(--accent-color);
}

.page.theme_dark .rec::after {
  background: var(--accent-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-font: "IBM Plex mono";
    --decoration-text-color: #000028;
    --accent-color: #ff0070;
    --title-color: #db00ff;
    --button-color: var(--accent-color);
    --button-color-rgb: 255, 0, 112;
    --text-color: #f1b2ce;
    --back-image: url('../images/cover-image-dark.png');
  }
}