/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-font: "IBM Plex mono";
  --decoration-text-color: #000028;
  --accent-color: #ff0070;
  --title-color:  #db00ff;
  --button-color:var(--accent-color);
  --button-color-rgb: 255, 0, 112;
  --text-color: #F1B2CE;
  background-image: url(/images/cover-image-dark.png);
  
  .rec {
    color: var(--accent-color);
  }
  
  .rec:after {
    background: var(--accent-color);
  }
}
