/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
:root {
  --main-font: 'IBM Plex mono';
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
}
.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: url(/images/cover-image-dark.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--main-font);
}

.header {
  min-height: 768px;
  display: grid;
  position: relative;
  padding: 20px 0px;
  grid-template-rows: 299px auto 299px;
}

.title {
  color: #DB00FF;
  text-shadow: 4px 4px 0px var(--accent-color);
  font-size: 157px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}