/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
:root {
  --main-font: 'IBM Plex mono';
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
}
.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: url(/images/cover-image-dark.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
  font-family: var(--main-font);
  min-inline-size: 375px;
}

