/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: "IBM Plex mono";
  --decoration-text-color: #000028;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --button-color: var(--accent-color);
  --button-color-rgb: 255, 0, 112;
  --text-color: #f1b2ce;
  --back-image: url('../images/cover-image-dark.png');
}
