/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: "IBM Plex mono";
  --bg-color: #000028;
  --decoration-text-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-color:  #db00ff;
  --button-color:var(--accent-color);
}